.box {
    box-shadow: 0 0.1875em 0.12em rgba(0, 0, 0, 0.034),
      0 0.4375em 0.375em rgba(0, 0, 0, 0.048),
      0 0.8125em 0.625em rgba(0, 0, 0, 0.06),
      0 1.375em 1.125em rgba(0, 0, 0, 0.072),
      0 2.625em 2.0625em rgba(0, 0, 0, 0.086),
      0 1.25em 1em rgba(0, 0, 0, 0.12)
 }

.outline {
  border: 0.0625em solid #eef;
    box-shadow: 
      0 0.0625em 0.0625em hsl(0deg 0% 0% / 0.075),
        0 0.125em 0.125em hsl(0deg 0% 0% / 0.075),
        0 0.25em 0.25em hsl(0deg 0% 0% / 0.075),
        0 0.5em 0.5em hsl(0deg 0% 0% / 0.075),
        0 1em 1em hsl(0deg 0% 0% / 0.075)
}

.headingLabels {
  font-size: 1.125em;
  font-weight: 500;
}

.lowerBorder {
  border-bottom: 0.0625em solid #aaa;
  margin-bottom: 0.25em;
}

.tabletOnlyElement {
  display: none;
}

@media (min-width: 48em) {
  .tabletOnlyElement {
      display: table-cell;
  }
}

  @media (min-width: 17.5em) and (max-width: 51.25em) {
  .desktopOnlyElement {
    display: none;
  }
}